#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

#app_header {
  height: 3.5rem;
  background: #222;
  padding: 1rem;
  color: #EEE;
  text-align: center;
}

#app_content {
  padding: 2rem;
}